# Logger
psutil
cryptography
discord
httpx
requests
pypiwin32
wmi
# Builder
alive-progress
colorama
pyinstaller
pillow
pycryptodome
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
